<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!--https://developer.apps.yahoo.com/projects-->
    <add key="YahooConsumerKey" value="dj0yJmk9TDByYlp2bGF4VEZIJmQ9WVdrOWRGWnRSM2xETldFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD05Mg--"/>
    <add key="YahooConsumerSecret" value="2ca780f879762eda4877de6d7dcb73a76682d2e5"/>
    
    <add key="GoogleClientID" value="921372572265-h09ikg9071vv7p4u5rfp66s9lk6lgueg.apps.googleusercontent.com"/>
    <add key="GoogleClientSecret" value="jISYenhSqaW-Jaq1KpguVdhv"/>
  
    <add key="OAuthCallbackURL" value="http://dimhub.friso.who.com.vn/oauth2callback"/>
  </appSettings>
</configuration>
